.wrapper
  = render 'shared/side_bar'

          
  .chat__main
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group
          a
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member
            brooks
          %li.main-header__left-box__member-list__member 
            bbb 
          %li.main-header__left-box__member-list__member 
            aiueo
      %a{:href => "/groups/1938/edit"}
        .main-header__edit-btn
          Edit               
    .messages
      .message{"data-message_id" => "5158"}
        .message__upper-info
          %p.message__upper-info__talker 
            aiueo
          %p.message__upper-info__date 
            2019/09/30(Mon) 01:21:01
        %p.message__text 
          abc

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
          
